* { margin: 0; padding:0; }

body, html {
  	background: #ffffff;
		font-fanily: sans-serif;
		font-size: 16px/24px;
		color: #505052; 
	  }
	  
h1, h2, h3, h4 {
		font-family: sans-serif;
		color: #989899;
	}
	
h1.page-title {
		margin-bottom: 20px;
	}

.header, #main-nav, #main-content {
		padding-left: 50px;
	}

.basic-page {		
		padding: 20px 0 0;
	}
	
#main-content {
		clear: both;
		width:980px;
	}
	
#content-left {
		float: left;
		width: 700px;
		margin-right:30px;
	}	
	
#content-right {
		float: right;
		width:210px;
		background: #cccccc;
		padding: 35px 15px;
	}
	
	#resources-block .resource {
		margin-top: 20px;
		line-height: 1.4em;
	}
		
#main-nav {
	height: 48px;
	clear: both;
	background: #3d5481;
	margin: 25px 0 20px;
}

#main-nav ul {
	 list-style-type: none;
	 padding: 15px 0 0;
	}

#main-nav ul li {
	padding: 15px 0;
	display: inline;
	margin-right: 30px;
	}

#main-nav ul li a {
	display: inline;
	color: #ffffff;
	text-decoration: none;
	}

/* child links */
#main-nav ul.child-links {
		width: 200px;		
		position: absolute;
		display: none;
		z-index:20;
		background: #505052;
		margin: 13px 0 0 145px;
		border-top:1px solid #3d5481;
	}
	
#main-nav ul.child-links li {
		display: block;	
		padding:2px 8px 12px;
		
	}
	
	#main-nav ul.child-links li a {
		color: #ffffff;
		text-decoration: none;	
	}
	
	#main-nav ul.child-links li:hover a,
	#main-nav ul.child-links li a:hover{
		color: #91a5d2;
	}
	
#main-nav ul.child-links:hover { display:block;  }		
	
#main-nav ul li:hover > ul.child-links,
#main-nav ul li a:hover + ul.child-links { 
		display:block; 
	}	

/* content */
.team-member {
		padding: 25px 0;
		border-bottom: 1px solid #dddddd;
		line-height: 1.4em;
	}
	
.member-name a {
	text-decoration: none;
	color: #3f567f;
}

	.member-name a:hover {
		color: #3d5481;	
	}
